/**
 * @file style.css
 
 * 
 * Alberto Rota 
 * Copyright to Alberto Rota, 2024
 */

body {
    background-color: #000;
    color: #0F0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

a {
    color: #9bf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes blink-cursor {
    50% {
        border-color: transparent;
    }
}

input[type="text"], textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0F0;
    color: inherit;
    font-family: inherit;
    padding: 5px;
    margin-top: 10px;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    animation: blink-cursor 0.8s steps(1) infinite;
}
